/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
    GENERAL STYLES
*/
/* line 4, sass/_general.scss */
body {
  width: 100%;
  margin: 0 auto;
  font: 1em/1.3 'Droid Sans', Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 11, sass/_general.scss */
a {
  color: #08c;
  text-decoration: none;
}

/* line 16, sass/_general.scss */
a:hover {
  text-decoration: underline;
}

/* line 21, sass/_general.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, sass/_general.scss */
#leagues {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 33, sass/_general.scss */
img {
  max-width: 100%;
  height: auto;
}

@media \0screen {
  /* line 38, sass/_general.scss */
  img {
    width: auto;
    /* for ie 8 */
  }
}
/*
    COLORS
    Markup for displaying team colors and hex values
    .color has optional, additional classes of:
        '-white' or '-black'
        Only if those are the colors being shown

    Example:
    <ul class="colors"
        <li class="color">
            <span class="hex">#000000
*/
/* line 13, sass/_colors.scss */
.colors {
  margin-top: 1em;
}
/* line 16, sass/_colors.scss */
.colors li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
/* line 19, sass/_colors.scss */
.colors li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1), 0 2px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 600px) {
  /* line 13, sass/_colors.scss */
  .colors {
    display: none;
    margin-top: 3em;
  }
  /* line 28, sass/_colors.scss */
  .show .colors {
    display: block;
  }
}

/* line 34, sass/_colors.scss */
.color {
  padding: 1em .75em;
  color: white;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0 1px 2px black;
}
/* line 43, sass/_colors.scss */
.color.color-white {
  color: #333;
  text-shadow: none;
  border: 1px solid #e9e9e9;
}
/* line 50, sass/_colors.scss */
.color.color-black .hex {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), 0 0 0 2px rgba(0, 0, 0, 0.2);
}

/* line 57, sass/_colors.scss */
.hex {
  background: rgba(255, 255, 255, 0.1);
  padding: .5em 15%;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/*
    NAVIGATION
    Handle styles for the main navigation element that lists the current league
*/
/* line 5, sass/_nav.scss */
#nav {
  margin: 3em 0 5em;
  text-align: center;
  position: relative;
  border-top: 1px solid #cccccc \9;
}
/* line 11, sass/_nav.scss */
#nav:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(25%, #cccccc), color-stop(75%, #cccccc), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff 0%, #cccccc 25%, #cccccc 75%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, #ffffff 0%, #cccccc 25%, #cccccc 75%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #ffffff 0%, #cccccc 25%, #cccccc 75%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0%, #cccccc 25%, #cccccc 75%, #ffffff 100%);
  z-index: -1;
}

/* line 23, sass/_nav.scss */
.league-name-active {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: -1.75em;
  background: #08c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1ab2ff), color-stop(100%, #0088cc));
  background-image: -webkit-linear-gradient(#1ab2ff, #0088cc);
  background-image: -moz-linear-gradient(#1ab2ff, #0088cc);
  background-image: -o-linear-gradient(#1ab2ff, #0088cc);
  background-image: linear-gradient(#1ab2ff, #0088cc);
  border: 1px solid #005f8f;
  border-bottom-color: #004b70;
  border-top-color: #08c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 2px #00334d;
  -webkit-box-shadow: 0 1px 3px #aaaaaa;
  -moz-box-shadow: 0 1px 3px #aaaaaa;
  box-shadow: 0 1px 3px #aaaaaa;
  color: #fff;
  z-index: 2;
  position: relative;
}
/* line 38, sass/_nav.scss */
.league-name-active:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #33bbff), color-stop(100%, #0099e6));
  background-image: -webkit-linear-gradient(#33bbff, #0099e6);
  background-image: -moz-linear-gradient(#33bbff, #0099e6);
  background-image: -o-linear-gradient(#33bbff, #0099e6);
  background-image: linear-gradient(#33bbff, #0099e6);
}
/* line 42, sass/_nav.scss */
.league-name-active a {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  left: -5%;
  color: #fff;
  padding: .05em .825em 0;
  display: block;
}
/* line 53, sass/_nav.scss */
.league-name-active span {
  position: absolute;
  top: 34%;
  right: 15%;
  color: white;
}

/* line 1, sass/_header.scss */
#header {
  font-size: 1.25em;
  margin: 3em auto 2em;
  text-align: center;
  width: 95%;
}
@media screen and (max-width: 600px) {
  /* line 1, sass/_header.scss */
  #header {
    margin-top: 2em;
  }
}

/* line 11, sass/_header.scss */
.intro-arc {
  color: #aaa;
  font-size: .825em;
  margin: 0 0 3em;
}

/* line 16, sass/_header.scss */
.intro-main {
  font-size: 1.25em;
}
/* line 19, sass/_header.scss */
.intro-main strong {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

/* line 25, sass/_header.scss */
#arrow {
  position: relative;
  right: -2em;
}

/* line 1, sass/_drop-down.scss */
.drop-down {
  width: 200px;
  margin-left: -100px;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 1px solid #ccc;
  padding: 1em 0;
  background: #fff;
  font-size: 1.25em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 16, sass/_drop-down.scss */
.drop-down.hide {
  opacity: 0;
  visibility: hidden;
}
/* line 21, sass/_drop-down.scss */
.drop-down.show {
  opacity: 1;
  visibility: visible;
}
/* line 26, sass/_drop-down.scss */
.drop-down .league-name {
  display: block;
  padding: 1em .5em;
  border-top: 1px solid #ccc;
  text-decoration: none;
}
/* line 32, sass/_drop-down.scss */
.drop-down .league-name:first-child {
  border: 0;
}
/* line 36, sass/_drop-down.scss */
.drop-down .league-name:hover {
  background: #08c;
  color: white;
}

/*
    TEAM STYLES
    General styles for team attributes, including:
        - Team container
        - Team logos
        - Team name
*/
/* line 8, sass/_teams.scss */
.team {
  line-height: 2em;
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2em;
  float: left;
  margin-bottom: 4em;
  overflow: hidden;
  text-align: center;
}
/* line 18, sass/_teams.scss */
.team:nth-child(3n+1) {
  clear: both;
}
@media screen and (max-width: 1000px) {
  /* line 8, sass/_teams.scss */
  .team {
    width: 50%;
  }
  /* line 25, sass/_teams.scss */
  .team:nth-child(3n+1) {
    clear: none;
  }
  /* line 28, sass/_teams.scss */
  .team:nth-child(odd) {
    clear: both;
  }
}
@media screen and (max-width: 600px) {
  /* line 8, sass/_teams.scss */
  .team {
    width: 100%;
    margin-bottom: 2em;
    padding: 0 1em;
    position: relative;
  }
  /* line 39, sass/_teams.scss */
  .team:after {
    content: url(../img/arrow-e.svg);
    position: absolute;
    top: 0;
    right: 1em;
    -webkit-transform: 90deg;
    -webkit-transition: .333s ease -webkit-transform;
    transition: .333s ease transform;
  }
  /* line 50, sass/_teams.scss */
  .team:nth-child(3n+1), .team:nth-child(odd) {
    clear: none;
  }
}

/* line 56, sass/_teams.scss */
.team.show:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 61, sass/_teams.scss */
.team-name {
  font-size: 1.125em;
  /*
      If there's no image to display (determined by js)
      this class is for alignment
  */
}
/* line 69, sass/_teams.scss */
.team-name.no-img {
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  /* line 61, sass/_teams.scss */
  .team-name {
    float: right;
    width: 75%;
    margin-right: 5%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
}

/* line 85, sass/_teams.scss */
.team-logo {
  display: block;
  margin: 0 auto;
  height: 100px;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
  /* line 85, sass/_teams.scss */
  .team-logo {
    max-width: 13%;
    height: 30px;
    float: left;
  }
}

/* line 2, sass/_footer.scss */
#footer {
  margin: 3em 0 0;
  text-align: center;
}
/* line 6, sass/_footer.scss */
#footer p {
  background: #f7f7f7;
  margin-top: 3em;
  padding: 1em;
  border-top: 1px solid #e9e9e9;
  color: #777;
}

/* line 14, sass/_footer.scss */
#top {
  border: 1px solid #08c;
  padding: 1em 3em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #08c;
  color: white;
}
/* line 24, sass/_footer.scss */
#top:hover {
  color: #08c;
  background: white;
  text-decoration: none;
}
/* line 30, sass/_footer.scss */
#top span {
  display: block;
}

/*
    JS
    All styles associatd with the '.js' class added by modernizer
    Hide any league that is not active
*/
/* line 8, sass/_js.scss */
.js .league-content {
  display: none;
}
/* line 11, sass/_js.scss */
.js .league-content.active {
  display: block;
}
