/*
    COLORS
    Markup for displaying team colors and hex values
    .color has optional, additional classes of:
        '-white' or '-black'
        Only if those are the colors being shown

    Example:
    <ul class="colors"
        <li class="color">
            <span class="hex">#000000
*/
.colors {

    @media screen and (max-width: 600px) {
        display: none;
        margin-top: 3em;

        .show & {
            display: block;
        }
    }
}

.color {
    margin: .25em 0;
    border-radius: 3px;
    padding: 1em .75em;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: $font-family-monospace;
    color: #fff;
    @include text-shadow(0 1px 1px rgba(0,0,0,.4));

    &:hover {
        cursor: pointer;
    }
}

//
//  HEX RGB Colors
//  -----
//  By default, the HEX color is shown
//  If a class is specificed, show RGB
.color__hex {
    display: block;
}

.color__rgb {
    display: none;
}

.leagues--rgb {
    .color__hex {
        display: none;
    }
    .color__rgb {
        display: block;
    }
}