/*
    GENERAL STYLES
*/
body {
    width: 100%;
    margin: 0 auto;
    font: 1em/1.3 'Droid Sans', Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// Clearfix
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#leagues {
    max-width: 1200px;
    margin: 0 auto;
}

// responsive images
img {
    max-width: 100%;
    height: auto;
}
@media \0screen {
  img {
    width: auto; /* for ie 8 */
  }
}