/*
    GENERAL STYLES
*/
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 18px/1.5;
    color: #333;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
// Footer
#footer {
    margin: 3em 0 5em;
    text-align: center;
}