#header {
    font-size: 1.25em;
    padding: 3em 2em 2em;
    background: $color-background;

    @media screen and (max-width: 600px) {
        margin-top: 2em;
    }
}

.intro-arc {
    color: #aaa;
    font-size: .825em;
}

.intro-main {
    font-size: 1.25em;

    strong {
        font-size: 2em;
        font-weight: bold;
        display: block; 
    }
}

#arrow {
    position: relative;
    right: -2em;
}