/*
    NAVIGATION
    Handle styles for the main navigation element that lists the current league
*/
#nav {
    margin: 3em 0 5em;
    text-align: center;
    position: relative;
    border-top: 1px solid #ccc\9; // IE 7 & 8 only

    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0px;
        height: 1px;
        width: 100%;
        @include background-image(linear-gradient(left, white 0%, #ccc 25%, #ccc 75%, white 100%));
        z-index: -1;
    }
}

.league-name-active {
    @include inline-block();
    margin-top: -1.75em;
    background: #08c;
    @include background-image(linear-gradient(lighten(#08c, 15%), #08c));
    border: 1px solid darken(#08c, 12%);
    border-bottom-color: darken(#08c, 18%);
    border-top-color: #08c;
    @include border-radius(5px);
    @include text-shadow(0 1px 2px darken(#08c, 25%));
    @include box-shadow(0 1px 3px #aaa);
    color: #fff;
    z-index: 2;
    position: relative;

    &:hover {
        @include background-image(linear-gradient(lighten(#08c, 20%), lighten(#08c, 5%)));
    }

    a {
        text-decoration: none;
        font-size: 2.5em;
        font-weight: bold;
        position: relative;
        left: -5%;
        color: #fff;
        padding: .25em 1em .225em;
        display: block;
    }

    span {
        position: absolute;
        top: 34%;
        right: 15%;
        color: white;
    }
}