/*
    NAVIGATION
    Handle styles for the main navigation element that lists the current league
*/
#navigation {
    background: $color-background;
    padding: 0 2em;
    position: relative;

    &.js-sticky {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 200;
        border-bottom: 1px solid $color-border;
    }
}

.nav-leagues {
    overflow: hidden;
    width: 100%;
}

.nav-league {
    display: block;
    float: left;
    text-align: center;
}

.nav-league--active {
    .nav-league__name {
        border-bottom-color: $color-link;
        color: $color-link;
    }
}

.nav-league__name {
    display: block;
    padding: .5em 2em;
    color: #777;
    border-bottom: 4px solid transparent;

    &:hover {
        color: $color-link;
        border-bottom-color: $color-link;
        text-decoration: none;
    }
}

.js-active a {
    font-weight: bold;
    border-bottom-color: #333;
    color: #333;

    &:hover {
        color: #333;
        border-bottom-color: #333;
    }
}

/*
    SEARCH
*/
.search {
    position: absolute;
    width: 20%;
    right: 1em;
    top: 0;

    input {
        font-family: $font-family;
        font-size: 1em;
        width: 100%;
        padding: .35em .5em;
        border-radius: 3px;
        border: 1px solid $color-border;
    }

    @media screen and (max-width: 900px) {
        position: static;
        width: 100%;
        padding: .625em 0;
        border-top: 1px solid $color-border;
    }
}
