/*
    TEAM STYLES
    General styles for team attributes, including:
        - Team container
        - Team logos
        - Team name
*/
.team {
    line-height: 2em;
    width: 33%;
    @include box-sizing(border-box);
    padding: 0 2em;
    float: left;
    margin-bottom: 4em;
    overflow: hidden;
    text-align: center;

    &:nth-child(3n+1) {
        clear: both;
    }

    @media screen and (max-width: 1000px) {
        width: 50%;

        &:nth-child(3n+1) {
            clear: none;
        }
        &:nth-child(odd) {
            clear: both;
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin-bottom: 2em;
        padding: 0 1em;
        position: relative;

        &:after {
            content: url(../img/arrow-e.svg);
            position: absolute;
            top: 0;
            right: 1em;
            -webkit-transform: (90deg);
            -webkit-transition: .333s ease -webkit-transform;
            transition: .333s ease transform;
        }

        &:nth-child(3n+1),
        &:nth-child(odd) {
            clear: none;
        }
    }
}

.team.show:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.team-name {
    font-size: 1.125em;
    

    /*
        If there's no image to display (determined by js)
        this class is for alignment
    */
    &.no-img {
        margin-top: 100px; // height of .team-logo
    }

    @media screen and (max-width: 600px) {
        float: right;
        width: 75%;
        margin-right: 5%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }
    
}

.team-logo {
    display: block;
    margin: 0 auto;
    height: 100px;
    max-width: 100%;

    @media screen and (max-width: 600px) {
        max-width: 13%;
        height: 30px;
        float: left;
    }
    
}