//
//
//  Teams
//  ==============================
//
.teams {
    position: relative;
    background: #fff;
    min-height: 250px;
    
    // Border between columns
    &:before,
    &:after {
        content: '';
        height: 100%;
        top: 0;
        position: absolute;
        width: 1px;
        background: $color-border;
        z-index: $z-index-dividers;
    }

    &:before {
        left: 33.33333333%;

        @include respond-to(two-col) {
            left: 50%;
        }
        
        @include respond-to(one-col) {
            display: none;
        }
    }

    &:after {
        left: 66.66666666%;

        @include respond-to(two-col) {
            display: none;
        }
    }
}

.team {
    background: #fff;
    position: relative;
    z-index: 10;
    line-height: 2em;
    width: 33.3333333%;
    @include box-sizing(border-box);
    overflow: hidden;
    text-align: center;
    padding: 2em;
    padding: 2.5%;
    border-top: 1px solid $color-border;
    // Inline-block spacing
    // http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    // HTML must remove unwanted space
    display: inline-block;
    vertical-align: top;

    @include respond-to(two-col) {
        width: 50%;
    }

    @include respond-to(one-col) {
        width: 100%;
        padding: 0 em(10);
        position: relative;

        // Dropdown arrow
        &:after {
            content: '';
            position: absolute;
            top: 2em;
            right: 1em;
            @include transition(all .333s ease);
            background-image:  image-url("arrow.svg");
            background-size: contain;
            width: 16px;
            height: 16px;
        }

        &.show:after {
            @include rotate(90deg);
        }
    }

    // League background image
    .svg & {
        @each $league in $leagues {
            &[data-league="#{$league}"]:before {
                content: '';
                width: 50px;
                height: 50px;
                background-size: 50px;
                position: absolute;
                top: 1em;
                right: 1em;
                @include opacity(.15);
                @include filter(grayscale(1));
                color: red;
                background-image: image-url("leagues/#{$league}.svg");
                background-repeat: none;
                
                // Don't show the league logos in the mobile view
                @include respond-to(one-col) {
                    display: none;
                }
            }
        }
    }
}

.team-name { 
    text-transform: uppercase;
    letter-spacing: .0625em;
    font-size: .825em;

    // SVG support allows for logos on this element
    // background-image set dynamically w/javascript
    .svg & {
        padding-top: 175px;
        background-size: 175px;
        background-repeat: no-repeat;
        background-position: center 0;

        @include respond-to(one-col) { 
            letter-spacing: 0;
            padding: 0 0;
            background-size: 75px;
            background-position: 0 5px;

            width: 75%;
            //padding-left: 25%;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
    } 
}