//
//
//  Header
//  ==============================
//
#header {
    position: relative;
    padding: em(40);
    background: $color-background;

    @include respond-to(one-col) {
        padding: em(30);
        padding-bottom: em(75);
    }

    .svg & {
        &:before {
            content: '';
            position: absolute;
            right: em(20);
            top: em(50);
            width: 320px;
            height: 60px;
            background-repeat: no-repeat;
            background-size: 60px;
            @include opacity(.25);
            @include filter(grayscale(1));

            background-image:
                image-url("leagues/nba.svg"), 
                image-url("leagues/nfl.svg"),
                image-url("leagues/nhl.svg"),
                image-url("leagues/mlb.svg"),
                image-url("leagues/mls.svg"),
                image-url("leagues/epl.svg");
            background-position:
                100% center, 
                85% center, 
                65% center, 
                43% center, 
                20% center, 
                0% center;
            @include respond-to(one-col) {
                background-size: 50px;
                right: initial;
                top: initial;
                left: em(20);
                bottom: 0;
            }
        }
    }
}

.intro-authors {
    color: #aaa;
    font-size: .825em;

    // De-emphasize Arc90, as it's no longer a company
    a + a {
        color: inherit;
    }
}

.intro-description {

    strong {
        font-size: 2.65em;
        font-weight: bold;
        display: block; 
    }

    select {
        font-size: 1em;
    }
}