//
//
//  Teams
//  ==============================
//
.teams {
    position: relative;
    background: #fff;
    min-height: 250px;
    
    // No results filter message
    &:before {
        content: 'No results. Try a different team name.';
        position: absolute;
        top: 120px;
        left: 4em;

        @include respond-to(one-col) {
            top: 1em;
            left: 0;
            width: 100%;
            text-align: center;
        }
    } 

    // Border between columns
    &:after {
        content: '';
        height: 100%;
        top: 0;
        position: absolute;
        border-left: 1px solid $color-border;
        border-right: 1px solid $color-border;
        width: 33.3333333%;
        left: 33.3333333%;
        z-index: 10;

        @include respond-to(two-col) {
            width: 50%;
            left: 0;
        }
        
        @include respond-to(one-col) {
            display: none;
        }
    }
}

.team {
    position: relative;
    z-index: 10;
    line-height: 2em;
    width: 33.3333333%;
    @include box-sizing(border-box);
    background: #fff;
    overflow: hidden;
    text-align: center;
    padding: 2em;
    padding: 2.5%;
    border-top: 1px solid $color-border;
    // Inline-block spacing
    // http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    // HTML must remove unwanted space
    display: inline-block;
    vertical-align: top;

    @include respond-to(two-col) {
        width: 50%;
    }

    @include respond-to(one-col) {
        width: 100%;
        padding: 0 em(10);
        position: relative;

        // Dropdown arrow
        &:after {
            content: '';
            position: absolute;
            top: 2em;
            right: 1em;
            @include transition(all .333s ease);
            background-image:  url(../img/arrow.svg);
            background-size: contain;
            width: 16px;
            height: 16px;
        }

        &.show:after {
            @include rotate(90deg);
        }
    }
}

.team__name { 
    text-transform: uppercase;
    letter-spacing: .0625em;
    font-size: .825em;

    // SVG support allows for logos on this element
    // background-image set dynamically w/javascript
    .svg & {
        padding-top: 175px;
        background-size: 175px;
        background-repeat: no-repeat;
        background-position: center 0;

        @include respond-to(one-col) { 
            padding: 2em 0;
            background-size: 75px;
            background-position: 0 5px;

            width: 75%;
            padding-left: 25%;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: pre;
        }
    } 
}