/**
 *
 *  Colors
 *  Displaying team colors and hex values
 *
 */

.colors {}

.color {
  margin: em(3) 0;
  border-radius: 3px;
  padding: em(12);
  text-transform: uppercase;
  border-radius: 3px;
  font-family: $font-family-monospace;
  color: #fff;
  text-shadow: 0 1px 5px rgba(0,0,0,.5);

  &:hover {
    cursor: pointer;
  }

  /**
   * RGB
   */
  &.rgb {
    &:before {
      content: 'RGB(';
    }
    &:after {
      content: ')';
    }
  }

  /**
   * HEX
   */
  &.hex {
    &:before {
      content: '#';
    }
  }

  /**
   * CMYK
   */
  &.cmyk {
    &:before {
      content: 'CMYK(';
    }
    &:after {
      content: ')';
    }
  }

  /**
   * Pantone
   */
  &.pms {
    &:before {
      content: 'PMS ';
    }
  }
}
