//
//
//  Colors
//  ==============================
//  Displaying team colors and hex values
//
.colors {
    @include respond-to(one-col) {
        display: none;
        margin-bottom: 2em;

        .show & {
            display: block;
        }
    }
}

.color {
    margin: .25em 0;
    border-radius: 3px;
    padding: 1em .75em;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: $font-family-monospace;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);

    &:hover {
        cursor: pointer;
    }

    //
    //  RGB
    //  ---
    &.rgb {
        &:before {
            content: 'RGB(';
        }
        &:after {
            content: ')';
        }
    }

    //
    //  HEX
    //  ---
    &.hex {
        &:before {
            content: '#';
        }
    }

    //
    //  CMYK
    //  ---
    &.cmyk {
        &:before {
            content: 'CMYK(';
        }
        &:after {
            content: ')';
        }
    }

    //
    //  Pantone
    //  ---
    &.pms {
        &:before {
            content: 'PMS ';
        }
    }
}

//
//  Color Mode
//  ---
//  This is only for the starter HTML, hidden otherwise
.color-mode {
    display: none;
}
