//
//
//
//  Footer
//  ==============================
//
#footer {
    position: relative;
    z-index: $z-index-footer;
    text-align: center;
    border-top: 1px solid $color-border;

    p {
        padding: 1em;    
        color: $color-text;
    }
}