//
//
//  General Styles
//  ==============================
//

//
//  Box Sizing
//  -----
//  http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

//
//  Body Styles
//  -----
body {
    width: 100%;
    margin: 0 auto;
    font: 1em/1.5 $font-family;
    color: #333;
    background: $color-background;
}

a {
    color: inherit;
    text-decoration: underline;
}

strong,
b {
  font-weight: bold;
}

//
//  Wrapper
//  -----
.wrapper {
  width: 94%;
  max-width: em(1400);
  margin-left: auto;
  margin-right: auto;
}

//
//  Clearfix
//  -----
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

//
//  Back to top
//  -----
#top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: $z-index-back-to-top;
    border-radius: 5px;
    transition: all .33s ease;
    box-shadow: 0 0 0 3px rgba(0,0,0,.1);
    background: #333;
    color: white;
    text-align: center;
    font-weight: 700;

    &:hover {
        transform: scale(1.1);
        text-decoration: none;
    }

    @include respond-to(one-col) {
        bottom: 1em;
        right: 1em;
    }
}

//
//  Other
//  -----
select {
    font-size: 1em;
}

.highlight {
    background-color: yellow;
}

.loading {
    text-align: center;
    margin: em(50) 0;
    padding-top: em(40);
    background: url('../img/loading.gif') 50% 0 no-repeat;
    background-size: 32px;

    b {
      display: block;
    }
}
