/**
 *
 * Header
 *
 */

.header {
  position: relative;
  background: $color-primary;
  color: white;
  overflow: hidden;

  /**
  * Logo
  */

  &__logo {
    padding: em(10) 0 0;

    @include respond-to(tablet) {
      float: left;
      margin-right: em(20);
      padding-right: em(20);
      padding-bottom: em(10);
      border-right: 1px solid rgba(255, 255, 255, .1);
    }

    img {
      width: 135px;
    }
  }

  /**
  * Description
  */
  &__description {
    font-size: em(12);
    color: $color-secondary;
    margin-bottom: em(10);

    @include respond-to(tablet) {
      padding-top: em(9, 12);
      margin-bottom: 0;
    }

    // wrap to two lines on desktop
    @include respond-to(desktop) {
      span {
        display: block;
      }
    }

    a.emphasize {
      color: $color-link;
    }
  }
}
