//
//
//  Header
//  ==============================
//
.header {
    position: relative;
    padding: em(10) 0;
    background: $color-primary;
    color: white;
    overflow: hidden;

    @include respond-to(mobile) {
        padding: em(20) 0;
    }

    &__logo {
        float: left;
        font-size: em(12);

        span {
            display: block;
            color: $color-secondary;

            a:first-child {
                color: $color-link;
            }
        }

        @include respond-to(mobile) {
            float: none;
            text-align: center;
        }
    }

    &__description {
        font-size: em(12);
        margin-top: em(8, 12);
        float: right;
        text-align: right;
        color: $color-secondary;

        span {
            display: block;
        }

        @include respond-to(mobile) {
            float: none;
            text-align: center;
            margin-top: 0;
        }
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}

.intro-authors {
    color: #aaa;

    // De-emphasize Arc90, as it's no longer a company
    a + a {
        color: inherit;
    }
}

.intro-description {
    font-size: 1.25em;
    margin-bottom: .25em;

    strong {
        font-size: 2em;
        font-weight: bold;
        display: block;
    }

    + p {
        color: #777;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }
}
