//
//
//  Mixins & Variables
//  ==============================
//
$leagues: nba, nfl, nhl, mlb, mls, epl;
$colors: hex rgb cmyk pms;

$font-size-base: 16;
$font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
$font-family-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$color-border: #e9e9e9;
$color-background: #f7f7f7;
$color-link: #08c;
$color-text: #222;
$color-text-light: #777;

$z-index-back-to-top: 200;
$z-index-dividers: 20;
$z-index-footer: 10;
$z-index-nav: 5;

@function em($px, $base: $font-size-base) {
    @return ($px / $base) * 1em;
}

@mixin respond-to($media) {
    @if $media == one-col {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $media == two-col {
        @media only screen and (max-width: 1000px) { @content; }
    }
    @else if $media == three-col {
        @media only screen and (min-width: 1200px) { @content; }
    }
}