/**
 *
 * Teams
 *
 */

.teams {
  position: relative;
  margin-top: em(20);
}

.team {
  border: 1px solid $color-border;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .0625);
  background: #fff;
  position: relative;
  width: em(250);
  margin: 0 em(20) em(20) 0;
  padding: 1em;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;

  // Inline-block spacing
  // http://css-tricks.com/fighting-the-space-between-inline-block-elements/
  // HTML must remove unwanted space
  display: inline-block;
  vertical-align: top;
}

.team-name {
  margin-bottom: em(16);

  // SVG support allows for logos on this element
  // background-image set dynamically w/javascript
  padding-top: 125px;
  background-size: 125px;
  background-repeat: no-repeat;
  background-position: center 0;
}
