/**
 *
 * Team Filters
 *
 */

.team-filters {
  position: relative;
  border-bottom: 1px solid $color-border;
  z-index: $z-index-nav;
  background: #fff;

  select {
    width: 48%;
    margin: em(10) 1% 0 1%;


    @include respond-to(tablet) {
      width: auto;
      margin: 0 1em 0 0;
    }
  }

  input {
    font-family: $font-family;
    font-size: 1em;
    padding: em(15) em(10);
    border: 0;
    box-shadow: none;
    -webkit-appearance: none;
    width: 100%;

    &:focus {
      outline: 0;
    }

    @include respond-to(tablet) {
      width: 45%;
      border-left: 1px solid $color-border;
      border-radius: 0;
      padding: em(15);
    }

    @include respond-to(desktop) {
      width: 65%;
    }
  }
}
