//
//
//  Teams
//  ==============================
//
.teams {
    position: relative;
    margin-top: em(20);
}

.team {
    border: 1px solid $color-border;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background: #fff;
    position: relative;
    width: em(300);
    overflow: hidden;
    text-align: center;
    padding: em(20);
    margin: 0 em(20) em(20) 0;
    border-radius: 10px;


    // Inline-block spacing
    // http://css-tricks.com/fighting-the-space-between-inline-block-elements/
    // HTML must remove unwanted space
    display: inline-block;
    vertical-align: top;
}

.team-name {
    text-transform: uppercase;
    letter-spacing: .0625em;
    font-size: em(14);
    margin-bottom: em(20, 14);

    // SVG support allows for logos on this element
    // background-image set dynamically w/javascript
    padding-top: 175px;
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: center 0;

    @include respond-to(one-col) {
        letter-spacing: 0;
        padding: 0 0;
        background-size: 75px;
        background-position: 0 5px;

        width: 75%;
        //padding-left: 25%;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
    }
}
