//
//
//  Navigation
//  ==============================
//
#navigation {
    position: relative;
    border-bottom: 1px solid $color-border;
    border-top: 1px solid $color-border;
    top: 1px;
    z-index: $z-index-nav;
    background: #fff;
    padding-left: 2.5em;

    @include respond-to(one-col) {
        padding-top: 1em;
        padding-left: 0;
    }

    // No results filter message
    &:after {
        content: 'No results.';
        position: absolute;
        top: 9em;
        left: 3em;
        color: $color-text-light;

        @include respond-to(one-col) {
            top: 11em;
            left: 2em;
        }
    } 

    select {
        margin: 0 1em 0 .5em;
    }

    label {
        font-size: em(14);
        font-weight: bold;

        @include respond-to(one-col) {
            &:first-child {
                margin-left: 2em
            }
        }
    }

    input {
        width: 65%;
        font-family: $font-family;
        font-size: 1em;
        padding: 1em;
        border: 0;
        border-left: 1px solid $color-border;
        border-radius: 0;

        &:focus {
            outline: 0;
        }

        @include respond-to(two-col) {
            width: 45%;
        }

        @include respond-to(one-col) {
            position: static;
            width: 100%;
            padding: 1em em(30);
            border-top: 1px solid $color-border;
            margin-top: 1em;
        }
    }
}


